#slider1 { margin: 10px; width: 50% }

#slider2 { margin: 10px; width: 50% }

/*
.dynlink {
    background: none;
	border: none;
	color: blue;
	cursor: pointer;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: left;
    text-decoration: underline;
}
*/

.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    margin: auto;
    height: 300px;
    width: 80%;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
}

.fullScreen {
    overflow: hidden
}

.scrollmargin {
    height: 500px;
    text-align: center;
}

.large-button {
    color: lightblue;
    cursor: pointer;
    font: 30px arial;
    padding: 20px;
    text-align: center;
    border: medium solid transparent;
    display: inline-block;
}
.large-button:hover {
    border: medium solid lightgray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 12px 0 lightblue;
}