table.pinmux {
    font-size: 60%;
    line-height: 120%;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.pinmux td {
    padding: 0;
    height: 0.6em;
}

select.mux {
    width: 10em;
    line-height: 60%;
    font-size: 70%;
    padding-top: 0px;
    padding-bottom: 0px;
}

td.pin {
	width: 0.5em;
	background-color:#EAF2D3;
	text-align: center;
}

td.spacer {
	width: 8em;
}

td.pin:hover {
	background-color:#FF0000;
}

div.capesvg {
    float: left;
}
