[Unit]
Description=Bonescript server
ConditionPathExists=|/var/lib/cloud9

[Service]
WorkingDirectory=/node_modules/bonescript
ExecStart=/usr/bin/node server.js
SyslogIdentifier=bonescript
