[Unit]
Description=Bonescript server
ConditionPathExists=|/var/lib/cloud9

[Service]
WorkingDirectory=/var/lib/cloud9
EnvironmentFile=/etc/default/node
ExecStart=npm start -g bonescript
SyslogIdentifier=bonescript

[Install]
WantedBy=multi-user.target
