[Unit]
Description=Bonescript server

[Service]
WorkingDirectory=/usr/lib/node_modules/bonescript
ExecStart=/usr/bin/node server.js
SyslogIdentifier=bonescript
